.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.header-container h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.header-nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.header-nav nav ul li {
    margin: 0;
}

.header-container .header-nav ul li a {
    text-decoration: none;
    color: black !important;
}

.header-nav nav ul li a:hover {
    text-decoration: underline;
}


.footer-container {
    text-align: center;
    padding: 1px 0;
    background-color: #fff;
    font-size: 14px;
    width: 100%;
    border-top: 1px solid #ddd;
    position: absolute;
    bottom: 0;
    left: 0;
}
