html, body {
    height: 100%; /* ページ全体の高さを100%に設定 */
    margin: 0; /* 余白をなくす */
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

main {
    flex-grow: 1; /* 残りのスペースを埋める */
    background-color: #f5f5f5; /* 背景を薄いグレーに設定 */
    padding-bottom: 60px; /* フッターの高さ分だけ下に余白を作る */
    display: flex;
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center;     /* 垂直方向に中央揃え */
    box-sizing: border-box; /* パディングを含むレイアウト */
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #bbb;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-control::placeholder {
    color: #888;
    font-size: 16px;
}

.form-group label {
    display: none;
}

.register-container {
    background-color: #f5f5f5;
    padding: 40px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 400px;
}

.register-container h2 {
    margin-bottom: 30px;
    font-size: 24px;
}

.register-container button {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 20px auto 10px auto;
}

.register-container button:hover {
    background-color: #214be0;
}

.register-link {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.register-link a {
    color: #214be0;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
